<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>check.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>gmock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>gmock_main.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>libprotobuf-lite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>libprotobuf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>libprotoc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>lite-arena-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>lite-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>protoc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>test_plugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>25B49478311E4F099AAD166D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A1635E7825341BA88DB9C58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>431B9140034B405EA5E962FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C23056BAFDE414FA60C6D63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A4AAA65A18842A5B0D2BFAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FB17A4CEA8B42028CCA00F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>976E8E0E38734A609DC03401</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DB7D02FD9E14BBCA0773711</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A82F1E65AAD243939B6D944E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B25142C32C244362A23F4BAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1CB31D109D143EC93BBD438</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8A9D189DD254E09BAF45FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA1414AB6410480BB5F91669</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAAB4FFF8DA14379BDD7C1A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
